In [1]:
import keras

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
## data shape

concrete_data.shape

(1030, 9)

In [6]:
## description of data

concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [7]:
## find empty cells

concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
## we need to split the data into predictor and the target data

target = concrete_data['Strength']

## predictor = concrete_data[['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer', 
                         ## 'Coarse Aggregate', 'Fine Aggregate', 'Age']]

## better way

data_columns = concrete_data.columns

predictor = concrete_data[data_columns[data_columns != 'Strength']]

In [11]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [12]:
predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [13]:
## normalise the data
##subtract the mean and divide by the standard deviation

norm_predictor = (predictor - predictor.mean())/predictor.std()

norm_predictor.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [14]:
##save numbers of predictor

n_cols = norm_predictor.shape[1]

### Build neural network

In [16]:
from keras.models import Sequential
from keras.layers import Dense

In [19]:
## create a model

model = Sequential()
model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
model.add(Dense(50, activation='relu'))
model.add(Dense(1))

##compile model
model.compile(optimizer='adam', loss='mean_squared_error')

In [21]:
## training and testing the model

#fit the model

model.fit(norm_predictor, target, validation_batch_size= 0.3, epochs=100, verbose=2)

Epoch 1/100
33/33 - 2s - 51ms/step - loss: 1531.4420
Epoch 2/100
33/33 - 0s - 4ms/step - loss: 1371.8180
Epoch 3/100
33/33 - 0s - 4ms/step - loss: 1054.5420
Epoch 4/100
33/33 - 0s - 5ms/step - loss: 621.5698
Epoch 5/100
33/33 - 0s - 7ms/step - loss: 317.8349
Epoch 6/100
33/33 - 0s - 5ms/step - loss: 227.8107
Epoch 7/100
33/33 - 0s - 5ms/step - loss: 203.7220
Epoch 8/100
33/33 - 0s - 4ms/step - loss: 188.9190
Epoch 9/100
33/33 - 0s - 4ms/step - loss: 178.8726
Epoch 10/100
33/33 - 0s - 4ms/step - loss: 170.9565
Epoch 11/100
33/33 - 0s - 4ms/step - loss: 164.4293
Epoch 12/100
33/33 - 0s - 4ms/step - loss: 159.3004
Epoch 13/100
33/33 - 0s - 3ms/step - loss: 155.2311
Epoch 14/100
33/33 - 0s - 3ms/step - loss: 151.1130
Epoch 15/100
33/33 - 0s - 4ms/step - loss: 147.0947
Epoch 16/100
33/33 - 0s - 4ms/step - loss: 144.2583
Epoch 17/100
33/33 - 0s - 5ms/step - loss: 140.3786
Epoch 18/100
33/33 - 0s - 5ms/step - loss: 137.8526
Epoch 19/100
33/33 - 0s - 4ms/step - loss: 135.2314
Epoch 20/100
33/33 - 0s - 3ms/step - loss: 132.4673
Epoch 21/100
33/33 - 0s - 5ms/step - loss: 130.0647
Epoch 22/100
33/33 - 0s - 4ms/step - loss: 126.2284
Epoch 23/100
33/33 - 0s - 5ms/step - loss: 123.0954
Epoch 24/100
33/33 - 0s - 4ms/step - loss: 120.0777
Epoch 25/100
33/33 - 0s - 4ms/step - loss: 117.1152
Epoch 26/100
33/33 - 0s - 4ms/step - loss: 114.0894
Epoch 27/100
33/33 - 0s - 5ms/step - loss: 110.6901
Epoch 28/100
33/33 - 0s - 4ms/step - loss: 106.5038
Epoch 29/100
33/33 - 0s - 4ms/step - loss: 102.9928
Epoch 30/100
33/33 - 0s - 4ms/step - loss: 99.3342
Epoch 31/100
33/33 - 0s - 3ms/step - loss: 95.7433
Epoch 32/100
33/33 - 0s - 3ms/step - loss: 91.5101
Epoch 33/100
33/33 - 0s - 4ms/step - loss: 87.3746
Epoch 34/100
33/33 - 0s - 4ms/step - loss: 83.9416
Epoch 35/100
33/33 - 0s - 4ms/step - loss: 78.9002
Epoch 36/100
33/33 - 0s - 4ms/step - loss: 74.8413
Epoch 37/100
33/33 - 0s - 3ms/step - loss: 70.0247
Epoch 38/100
33/33 - 0s - 4ms/step - loss: 66.6089
Epoch 39/100
33/33 - 0s - 5ms/step - loss: 62.9990
Epoch 40/100
33/33 - 0s - 5ms/step - loss: 59.6218
Epoch 41/100
33/33 - 0s - 4ms/step - loss: 57.2085
Epoch 42/100
33/33 - 0s - 4ms/step - loss: 54.8667
Epoch 43/100
33/33 - 0s - 3ms/step - loss: 52.9676
Epoch 44/100
33/33 - 0s - 3ms/step - loss: 52.8777
Epoch 45/100
33/33 - 0s - 6ms/step - loss: 49.5224
Epoch 46/100
33/33 - 0s - 4ms/step - loss: 47.7115
Epoch 47/100
33/33 - 0s - 4ms/step - loss: 46.3820
Epoch 48/100
33/33 - 0s - 4ms/step - loss: 46.0949
Epoch 49/100
33/33 - 0s - 5ms/step - loss: 44.2858
Epoch 50/100
33/33 - 0s - 5ms/step - loss: 43.9473
Epoch 51/100
33/33 - 0s - 4ms/step - loss: 42.7699
Epoch 52/100
33/33 - 0s - 4ms/step - loss: 42.2577
Epoch 53/100
33/33 - 0s - 4ms/step - loss: 41.1436
Epoch 54/100
33/33 - 0s - 5ms/step - loss: 39.9701
Epoch 55/100
33/33 - 0s - 3ms/step - loss: 39.4140
Epoch 56/100
33/33 - 0s - 3ms/step - loss: 39.9990
Epoch 57/100
33/33 - 0s - 4ms/step - loss: 38.2719
Epoch 58/100
33/33 - 0s - 5ms/step - loss: 37.7365
Epoch 59/100
33/33 - 0s - 4ms/step - loss: 37.2957
Epoch 60/100
33/33 - 0s - 4ms/step - loss: 36.8294
Epoch 61/100
33/33 - 0s - 3ms/step - loss: 36.8936
Epoch 62/100
33/33 - 0s - 3ms/step - loss: 36.0221
Epoch 63/100
33/33 - 0s - 3ms/step - loss: 35.4730
Epoch 64/100
33/33 - 0s - 5ms/step - loss: 35.3772
Epoch 65/100
33/33 - 0s - 4ms/step - loss: 34.7048
Epoch 66/100
33/33 - 0s - 4ms/step - loss: 34.7769
Epoch 67/100
33/33 - 0s - 4ms/step - loss: 34.3638
Epoch 68/100
33/33 - 0s - 5ms/step - loss: 33.9009
Epoch 69/100
33/33 - 0s - 4ms/step - loss: 33.4457
Epoch 70/100
33/33 - 0s - 4ms/step - loss: 33.2503
Epoch 71/100
33/33 - 0s - 4ms/step - loss: 33.4690
Epoch 72/100
33/33 - 0s - 4ms/step - loss: 32.7791
Epoch 73/100
33/33 - 0s - 3ms/step - loss: 32.7514
Epoch 74/100
33/33 - 0s - 3ms/step - loss: 32.8531
Epoch 75/100
33/33 - 0s - 4ms/step - loss: 32.1435
Epoch 76/100
33/33 - 0s - 4ms/step - loss: 32.3053
Epoch 77/100
33/33 - 0s - 5ms/step - loss: 32.2217
Epoch 78/100
33/33 - 0s - 5ms/step - loss: 31.5330
Epoch 79/100
33/33 - 0s - 4ms/step - loss: 32.2955
Epoch 80/100
33/33 - 0s - 4ms/step - loss: 31.1962
Epoch 81/100
33/33 - 0s - 4ms/step - loss: 31.1166
Epoch 82/100
33/33 - 0s - 8ms/step - loss: 30.7623
Epoch 83/100
33/33 - 0s - 5ms/step - loss: 31.0329
Epoch 84/100
33/33 - 0s - 4ms/step - loss: 30.9694
Epoch 85/100
33/33 - 0s - 3ms/step - loss: 30.9136
Epoch 86/100
33/33 - 0s - 4ms/step - loss: 29.8396
Epoch 87/100
33/33 - 0s - 4ms/step - loss: 29.8404
Epoch 88/100
33/33 - 0s - 4ms/step - loss: 29.6966
Epoch 89/100
33/33 - 0s - 5ms/step - loss: 29.7021
Epoch 90/100
33/33 - 0s - 5ms/step - loss: 29.3970
Epoch 91/100
33/33 - 0s - 4ms/step - loss: 29.1303
Epoch 92/100
33/33 - 0s - 5ms/step - loss: 29.4019
Epoch 93/100
33/33 - 0s - 3ms/step - loss: 29.0699
Epoch 94/100
33/33 - 0s - 5ms/step - loss: 28.4300
Epoch 95/100
33/33 - 0s - 4ms/step - loss: 28.2282
Epoch 96/100
33/33 - 0s - 5ms/step - loss: 28.0623
Epoch 97/100
33/33 - 0s - 3ms/step - loss: 28.2415
Epoch 98/100
33/33 - 0s - 3ms/step - loss: 28.0578
Epoch 99/100
33/33 - 0s - 4ms/step - loss: 27.8368
Epoch 100/100
33/33 - 0s - 5ms/step - loss: 27.3575